.department-overlay-chart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.class-wise-overlay-chart-container {
    display: flex;
    justify-content: space-between;

}

.overall-department-performance-chart-container-class-wise {
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    border-radius: 30px;
    box-shadow: inset 20px 20px 22px #ffffff, 10px 10px 17px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.sub-charts-container {
    font-weight: 100;
    text-align: center;
    color: rgba(71, 71, 71, 0.331);
}

.class-wise-header {
    justify-content: space-between;
}

.department-header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inside-container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu-buttons {
    align-items: flex-end;
    margin-right: 20px;
    justify-content: space-between;

}

.menu button {
    margin-right: 20px;
    background-color: transparent;
    color: rgb(37, 26, 26);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.department-wise-chart-heading {
    top: 0;
    margin-left: 20px;
    margin-top: 18px;
    color: rgba(57, 57, 57, 0.486);
    font-size: calc(0.6rem + 0.7vw);
}

.chart-heads {
    color: rgba(58, 58, 58, 0.824);

}

.menu button:hover {
    background-color: #7a7a7a30;
}

.menu button:focus {
    outline: none;
    box-shadow: 0 0 15px #177e55cd;
}



.mentor-student-name-card {
    border-radius: 3vw;
    padding: 1vw;
    font-size: calc(0.7rem + 0.5vw);
    outline: none;
    border: none;
    margin-bottom: 2vh;
    cursor: pointer;
    width: 100%;
    box-shadow: inset 20px 20px 22px #ffffff, 10px 10px 17px rgba(0, 0, 0, 0.16);
    text-align: center;
    background-color: rgb(246, 249, 246);

}

.mentor-year-wise-container {
    width: 85vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    margin-right: 20px;
}

.mentor-dashboard {
    overflow-y: auto;
}

.mentees-year-heading {
    text-align: center;
    color: rgba(2, 134, 0, 0.55);
    font-size: calc(0.7rem + 1vw);
}
.students-specific-details-container{
    align-items: center;
    justify-content: center;
}
.students-specific-details-container table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
    text-align: center;
    
}
.students-specific-details-container th,
.students-specific-details-container td {
    padding: 2%;
    border: 1px solid #00000094;
    color: #1f1313;
    font-weight: 100;
}

.students-specific-details-container tr:nth-child(even) {
    background-color: #62626221;
}


.students-specific-details-container th {
    position: sticky;
    top: 0;
    color: #1f1313;
    backdrop-filter: blur(4px);
    background-color: rgba(69, 230, 168, 0.311)
}

.specific-details-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.student-details-heading {
    flex: 1; /* Take remaining space */
    text-align: center;
    align-items: center ;

}

.message-button-specific-student {
    align-self: flex-end; /* Align to the right */
    margin-right: 10px; 
    font-size: calc(0.7rem + 0.5vw);
    cursor: pointer;
    color:rgb(36, 97, 25);
    border-radius: 1vw;
    background-color: rgb(251, 255, 254);
    padding:0.5vw;
    
    box-shadow: inset 20px 20px 22px #ffffff, 10px 10px 17px rgba(0, 0, 0, 0.16);
    /* Add other styles as needed */
}
#attendance-close-button{
    right: 5px;
    top:5px;
    position: absolute;
    width: 15%;
    font-size:calc(0.5rem + 0.5vw);

    height: 5%;
}
#absentees-header{
    font-size:calc(0.5rem + 0.6vw);
}