.department-menu-overlay-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: rgb(37, 26, 26);
    font-weight: 100;
    width: 91%;
    height: 93%;
    z-index: 999;
    overflow-y: auto;
}


.content-container.with-nav-bar {
    margin-left: 250px; 
}

  .content-container.without-nav-bar {
    margin-left: 0; 
  }
.logout-button {
    padding: 8px 16px;
    color: rgb(37, 26, 26);
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.logout-button:hover{
    background-color: #bcbcbc20;
    color: rgb(37, 26, 26);
}

.department-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1393px;
    height: 100%;
    margin-top: 20;
    display: flex;
    margin-left:197px;
    justify-content: center;
    align-items: center;
    z-index:100000;
}
.home-contents::-webkit-scrollbar {
    width: 15px;
}

.home-contents::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

.home-contents::-webkit-scrollbar-thumb {
    background-color: rgba(79, 160, 160, 0.788); 
    border-radius: 10px;

}

.home-contents::-webkit-scrollbar-thumb:hover {
    background-color: rgba(55, 96, 99, 0.8); 
}
.home-contents{
    margin-left:25px;
    overflow-y: auto;
    
}